.ListContainerRoot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    cursor: pointer;
    margin-bottom: 10px;
}