.ListRootContainer{
display: flex;
flex-direction: row;
width: 100%;
margin: 30px 20px;
}

.ListLeftContainer{
border:solid;
display: flex;
flex-direction: column;
width:45%;
padding: 10px;

}

.ListCenterContainer{
    width:2%;
}

.ListRightContainer{
    padding: 10px;
    border: solid;
display: flex;
flex-direction: column;
align-content: center;
width: 45%;
}

.ListCreateContainer{
display: flex;
flex-direction: column;
margin-top: 10px;
gap: 15px;

}

.ListItemHeader{
    width:100%;
    text-transform: uppercase;
    text-align: center;
}

.logout{
    margin: auto;
    display: block;
    padding-top: 10px;
}
.LinkLogout{
    width: 100%;
   
}